.likes {
  display: flex;
  justify-content: space-around;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
  color: #857878;
}

.likes div {
  display: flex;
  align-items: center;
}



.count {
    pointer-events: none;
}

img {
  width: 50px;
  display: block;
  height: 50px;
  margin-right: 20px;
  margin-bottom: 12px;
}